h1, h2, h3, h4, h5, h6
  font-family: $fontLight

.app-body
  background: $appBodyBgColor
  color: $appBodyColor
  font-family: $fontRegular

.app-content
  padding: 2rem

.page-title
  line-height: 1
  font-size: 2.5rem
  margin: 0 0 2rem
  text-transform: capitalize

// ADD NEW IMAGE
.add-new-image
  button
    display: none
  &.disabled
    input, label
      background-color: $disabledBgColor
      color: $disabledColor

.pass-fail-toggle
  overflow: hidden
  legend
    display: none
  +from($medium-up)
    width: 10rem

// USERS LIST
.add-new-user
  margin: 0 0 2rem
  button
    display: none

.user-table .avatar
  border: 2px solid #ccc
  vertical-align: bottom
  height: 3rem
  width: 3rem

.col-avatar
  width: 1%
.col-name
  width: 25%
.col-username
  width: 14%
.col-dateAdded
  width: 35%
.col-deleteUser
  width: 25%

.button-delete
  color: #999
  font-size: 2rem
  cursor: pointer

.button-icon
  border: none
  background: transparent
  padding: 0

.image-stats-graph
  margin: 0 0 2rem

.image-stats-bar
  display: inline-block
  line-height: 1.5
  color: white
  text-align: center

.image-stats-pass
  background-color: $pass

.image-stats-fail
  background-color: $fail
