h1, h2
  font-size: 4rem
  text-transform: uppercase
  color: $yellow
  text-shadow: $yellowDark 5px 5px
  margin: 5rem 0 1.5rem
  border-bottom: 5px solid $imageBg

h1
  border: none
  margin: 10rem 0 -2.75rem

label
  display: block
  font-size: .75rem
  text-transform: uppercase

input
  margin: 0 1rem

a, &:visited
  color: $text
  &:hover
    color: $yellow
    background-color: $yellowDark

button
  display: inline-block
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  margin: 10px 0
  padding: 0
  border-width: 0
  background-color: $yellowDark
  font-family: sans-serif
  font-weight: normal
  font-size: inherit
  text-decoration: none
  cursor: pointer
  overflow: visible
  &::-moz-focus-inner
    border: 0
    padding: 0

.login-button, button
  color: $yellowDark
  display: inline-block
  background-color: $yellow
  padding: 0 1rem
  margin: 1rem
  text-decoration: none
  font-weight: bold
  text-transform: uppercase
  line-height: 3
  box-shadow: $yellowDark 5px 5px
  &:visited
    color: $yellowDark
  &:hover
    color: $yellow
    background-color: $yellowDark
    box-shadow: $yellow 5px 5px

.is-inline
  display: inline-block

.inline-list
  list-style: none
  li
    display: inline-block

.messaging
  padding: 1rem

.image-list
  padding: 0 1rem
  display: none
  list-style: none

.image-item
  display: inline-block
  margin: 1rem

.pf-image
  float: left
  border: 5px solid $imageBg
  margin: 0 10px
  height: 90px
  width: 90px

.set-image-kind
  list-style: none
  overflow: hidden
  width: 90px
  background-color: $imageBg
  margin: 0 10px
  text-align: left
  padding: 5px
  color: #000
  li:first-child
    float: left
  li:last-child
    float: right

.delete-image
  clear: both
  background-color: $imageBg
  padding: 5px
  margin: 0 10px 20px
  width: 90px
