.homepage-logo-wrapper
  position: relative
  top: 10rem
  text-align: center

.homepage-logo
  font-size: 4rem
  text-transform: uppercase
  color: $yellowDark
  text-shadow: $yellow 5px 5px
  margin-bottom: -.25rem

.homepage-random-images
  z-index: -1
  overflow: hidden
  position: relative
  top: 0rem

.image-type-pass, .image-type-fail
  position: relative
  h3
    position: absolute
    top: 2rem
    left: 0
    width: 200px
    text-align: center
    padding: 0 0 0 1rem
    font-size: 2rem
    text-transform: uppercase
    letter-spacing: 1.5rem
    text-shadow:
      -1px -1px 0 #fff,
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
      1px 1px 0 #fff
  img
    width: 200px
    height: 200px
    margin: 0 !important

.image-type-pass
  float: left
  img
    border: .5rem solid $pass
  h3
    color: $pass

.image-type-fail
  float: right
  img
    border: .5rem solid $fail
  h3
    color: $fail

.login-button
  display: inline-block
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  margin: 10px 0
  padding: 0
  border-width: 0
  font-family: sans-serif
  font-weight: normal
  font-size: inherit
  text-decoration: none
  cursor: pointer
  overflow: visible
  background-color: $yellowDark
  color: $yellow !important
  box-shadow: $yellow 5px 5px
  display: inline-block
  padding: 0 1rem
  margin: 1rem
  text-decoration: none
  font-weight: bold
  text-transform: uppercase
  line-height: 3
  &:visited
    color: $yellowDark
  &:hover
    color: $yellow
    background-color: $yellowDark
    box-shadow: $yellow 5px 5px