@import 'nib'
@import 'variables'

.app-body
  min-height: 100vh
  width: 100%

.app-homepage
  min-height: 100vh
  text-align: center
  position: relative
  background: linear-gradient(top, $homepageBgColorTop, $homepageBgColorBottom)

.homepage-logo, .homepage-mascot
  display: none
  +from($medium-up)
    display: block

.homepage-logo
  top: 1rem
  position: absolute
  left: 50%
  margin-left: -14.5rem

.homepage-mascot
  top: 12rem
  position: absolute
  left: 50%
  margin-left: -9rem
  z-index: 1

.homepage-wrapper
  +from($medium-up)
    position: relative
    top: 10rem

.homepage-login-button
  display: inline-block
  margin: 1rem auto 0
  +from($medium-up)
    position: relative
    top: 25rem
    z-index: 2
  a
    background: $homepageLoginButtonBgColor
    border-bottom: .2rem solid darken($homepageLoginButtonBgColor, 25%)
    text-transform: uppercase
    color: white
    text-decoration: none
    padding: .5rem 1rem
    border-radius: .25rem
    font-size: 1rem
    display: block
    width: $homepageImageWidth * .85

.homepage-random-images
  +from($medium-up)
    position: relative
    top: 8rem
    text-align: center
    margin: 1rem 0 0

.image-type-pass, .image-type-fail
  margin: 1rem auto 0
  border: 1px solid #999
  position: relative
  overflow: hidden
  width: $homepageImageWidth * .75
  height: $homepageImageHeight * .75
  img
    width: $homepageImageWidth * .75
    height: $homepageImageHeight * .75
  +from($medium-up)
    width: $homepageImageWidth
    height: $homepageImageHeight
    img
      width: $homepageImageWidth
      height: $homepageImageHeight
  h3
    font-size: 2.5rem
    margin: 0 0 0 .4rem
    opacity: .65
    position: absolute
    z-index: 1
    top: $homepageImageHeight * .25
    left: .25rem
    vertical-align: middle
    width:100%
    text-align: center
    text-transform: uppercase
    letter-spacing: 1.5rem
    text-shadow:
      -1px -1px 0 #fff,
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
      1px 1px 0 #fff
  +from($medium-up)
    display: inline-block
    h3
      font-size: 3.5rem
      top: $homepageImageHeight * .3

.image-type-pass
  h3
    color: $pass
  +from($medium-up)
    margin: 0 4rem 0 0

.image-type-fail
  h3
    color: $fail
  +from($medium-up)
    margin: 0 0 0 4rem
