// IMAGES LIST

.image-cards
  padding: 0
  list-style: none
  display: flex
  flex-wrap: wrap
  flex-direction: row
  margin: -1rem // this is to remove the margin along the left & right of list

.image-card
  border-radius: 5px
  box-shadow: 5px 5px 15px rgba($navShadowColor, .25)
  position: relative
  flex: 1 1 auto
  margin: 1rem
  overflow: hidden
  height: $imageCardHeight
  min-width: $imageCardWidth

.image-thumbnail
  max-height: 100%
  max-width: 100%
  width: 100%

.image-original
  max-height: $imageCardHeight
  max-width: $imageCardWidth
  width: 100%

.image-card-pass
  // border-top: .25rem solid $passColor

.image-card-fail
  // border-top: .25rem solid $failColor

.image-card
  &:hover
    .flip-card-overlay
      display: block

.image-card-front
  height: 100%
  text-align: center

.flip-card-overlay
  display: none
  position: absolute
  cursor: pointer
  text-align: center
  background-color: rgba(0,0,0,.35)
  width: 100%
  height: 100%
  .icon
    position: relative
    top: ($imageCardHeight / 4)
    font-size: 5rem
    color: rgba(255,255,255,.75)

.image-settings
  width: 100%
  top: ($imageCardHeight / 2)
  position: absolute
  font-size: 2rem
  margin: 0
  list-style: none

.image-setting
  cursor: default
  margin-top: -1.5rem
  padding: .5rem
  position: absolute
  &.set-pass
    left: 0
  &.set-fail
    right: 0
  .icon
    text-shadow: rgba(0,0,0,.25) 1px 1px
    cursor: pointer
    color: $imageCardIconColor

button[disabled=disabled].is-pass
  .icon
    color: $passColor !important

button[disabled=disabled].is-fail
  .icon
    color: $failColor !important

.image-card-back
  display: none
  height: 100%
  background-color: $imageCardBackBgColor

.image-metadata
  color: $textOnColor
  font-size: .75rem
  margin: 0
  padding: 0
  list-style: none
  padding: 1rem .5rem
  li
    margin-bottom: .5rem

progress
  &:not(value)
  &[value]
    appearance: none
    border: none
    width: 100%

  position: absolute
  left: 0
  right: 0
  top: 0
  width: 100%
  z-index: 10
  height: .5rem

  // ie
  background-color: $progressBarBackgroundColor
  color: $progressBarMeterColor
  overflow: hidden

  // chrome/safari/opera
  &::-webkit-progress-bar
    background-color: $progressBarBackgroundColor
    overflow: hidden
    transition: width 1s ease 0
  &::-webkit-progress-value
    transition: width 0.5s ease
    background-color: $progressBarMeterColor

  // firefox
  &::-moz-progress-bar
    background-color: $progressBarMeterColor
