// IMAGES LIST

.image-cards
  padding: 0
  list-style: none
  display: flex
  flex-wrap: wrap
  flex-direction: row
  margin: -1rem

.image-card
  position: relative
  flex: 1 1 auto
  margin: 1rem

.image-card-pass
  // border-top: .25rem solid $pass

.image-card-fail
  // border-top: .25rem solid $fail

.image-thumbnail
  // a:focus &
  //   box-shadow: $focusStyle
  box-shadow: 5px 5px 15px rgba($navShadowColor, .25)
  border-radius: 5px
  max-width: 100%
  min-width: 10rem
  max-height: 100%
  width: 100%
  height: 8rem

.image-settings
  width: 100%
  top: 4rem
  position: absolute
  font-size: 2rem
  margin: 0
  list-style: none

.image-setting
  margin-top: -1.5rem
  background-color: $imageCardToggleBgColor
  padding: .5rem
  position: absolute
  &:hover
    background-color: $imageCardToggleBgColorHover
  &.set-pass
    border-radius: 0 1rem 1rem 0
    left: 0
  &.set-fail
    border-radius: 1rem 0 0 1rem
    right: 0
  .icon
    color: #333

button[disabled=disabled].is-pass
  .icon
    color: $pass !important

button[disabled=disabled].is-fail
  .icon
    color: $fail !important

.image-metadata
  display: none
