.error-page
  width: 20rem
  margin: 0 auto

.app-body
  min-height: 100vh
  width: 100%

.app-body, .app-wrapper
  display: flex
  flex-direction: column

.app-navigation
  order: -2

.app-messaging
  order: -1

.app-content
  flex: 1

+from($medium-up)

  .app-navigation
    order: -1

  .app-messaging
    order: 1

  .app-wrapper
    flex-direction: row
    flex: 1

  .app-navigation
    flex: 0 0 $navigationWidth

  .app-messaging
    flex: 0 0 $appMessagingWidth

  .app-messaging
    display: block

.inputAddOn
  display: block

+from($medium-up)
  .inputAddOn
    display: flex

  .inputAddOn-field
    margin: 0
    flex: 1

// .inputAddOn-item
