@import 'variables'
@import 'axis'
establish-baseline('normalize')

*
  box-sizing: border-box

body
  font-family: Verdana, Arial, sans-serif
  color: $bodyColor
  padding: 0
  background: $bgColorBottom linear-gradient(to bottom, $bgColorTop, $bgColorBottom) repeat-x

main
  width: 800px
  margin: 0 auto
