.app-body, .app-homepage
  min-height: 100vh
  width: 100%

.app-body, .app-wrapper
  display: flex
  flex-direction: column

.app-messaging
  display: none

.app-navigation
  order: -1

+from($medium-up)

  .app-wrapper
    flex-direction: row
    flex: 1

  .app-content
    flex: 1

  .app-navigation
    flex: 0 0 $navigationWidth

  .app-messaging
    flex: 0 0 $appMessagingWidth

  .app-messaging
    display: block

.inputAddOn
  display: block
  +from($medium-up)
    display: flex

.inputAddOn-field
  +from($medium-up)
    margin: 0
    flex: 1

// .inputAddOn-item