.hide-messaging
  .app-messaging
    display: none

.app-messaging
  @extend .nav-inset-shadow-right
  background: $appMessagingBgColor
  padding: 1rem
  ul
    font-size: .8rem
    padding: 0
    margin: 0
    list-style: none
  li
    margin: 0 0 1rem

// flash messages
.flash-notice, .flash-error, .flash-warning, .flash-success
  border-bottom: .2rem solid
  padding: .5rem 1rem
  color: white
  .icon
    font-size: 1.25rem
    padding: .1rem .75rem 0 0
  .icon, a
    color: white

.flash-notice
  background-color: $flashBgColorNotice
  border-color: darken($flashBgColorNotice, 25%)

.flash-error
  background-color: $flashBgColorError
  border-color: darken($flashBgColorError, 25%)

.flash-warning
  background-color: $flashBgColorWarning
  border-color: darken($flashBgColorWarning, 25%)

.flash-success
  background-color: $flashBgColorSuccess
  border-color: darken($flashBgColorSuccess, 25%)
