.app-navigation
  @extend .nav-inset-shadow-left
  background: $navBgColor

.navigation-logo
  line-height: 2
  background: $flubr
  color: $flubrText
  text-align: center
  text-transform: uppercase
  font-size: 2.5rem
  +from($medium-up)
    @extend .nav-inset-shadow-left
    line-height: 10rem
    height: 10rem

.navigation-user
  @extend .nav-inset-shadow-left
  background: $navUserBgColor
  color: $navUserColor
  padding: 1rem
  .avatar
    margin-right: 1rem

.navigation-links
  // display: none
  margin: 0
  padding: 0
  list-style: none
  a, &:visited
    color: $navLinkColor
    padding: 1rem
    display: block
    text-decoration: none
    text-transform: uppercase
    font-size: 1rem
    border-bottom: .1rem solid $navLinkBorderColor
    &:hover
      color: $navLinkHoverColor
      background: $navLinkHoverBgColor
  .active
    overflow: hidden
    margin-bottom: -15px
    padding: 0 0 15px 0
    a
      display: block
      @extend .nav-active-drop-shadow
    a, a:hover
      background: $navLinkActiveBgColor
      color: $navLinkActiveColor
      cursor: default
  // +from($medium-up)
  //   display: block