.app-navigation
  @extend .nav-inset-shadow-left
  background: $navBgColor

.navigation-top
  position: relative
  background: $primaryColor
  overflow: hidden
  +from($medium-up)
    @extend .nav-inset-shadow-left
    height: 15rem

.navigation-logo
  display: none
  svg
    position: absolute
    z-index: 1

.navigation-mascot
  svg
    position: absolute
    top: 2.5rem
    left: -2rem

.navigation-username
  color: $textOnColor
  font-size: 1.75rem
  font-family: $fontLight
  z-index: 1
  position: absolute
    top: .5rem
    right: 1rem

.navigation-links
  font-family: $fontBold
  letter-spacing: .1em
  margin: 0
  padding: 0
  list-style: none
  text-align: center
  li
    display: inline-block
    padding: .5rem
    &:hover:not(.nav-active)
      background: $navLinkHoverBgColor
      .nav-text
        color: $navLinkHoverColor
      .nav-icon
        color: $navLinkIconHoverColor
    +from($medium-up)
      padding: 0
      display: list-item

.nav-link
  text-decoration: none !important

.nav-icon
  font-size: 3rem
  +from($medium-up)
    font-size: 2rem
    float: left
    display: block
    margin: .6rem 0 0 1rem

.nav-avatar
  display: block
  height: 45px
  width: 45px
  +from($medium-up)
    height: 32px
    width: 32px

.nav-text, .nav-text:visited
  text-align: right
  color: $navLinkColor
  padding: 1rem
  display: none
  text-transform: uppercase
  font-size: 1rem
  border-bottom: .1rem solid $navLinkBorderColor
  +from($medium-up)
    display: block

.nav-active
  +from($medium-up)
    overflow: hidden
    margin-bottom: -1rem
    padding: 0 0 1rem 0 !important
    .nav-text
      @extend .nav-active-drop-shadow
    .nav-text, .nav-text:hover
      background: $navLinkActiveBgColor
      color: $navLinkActiveColor
      cursor: default
