 @import 'axis'
 establish-baseline('normalize')

*
  box-sizing: border-box

body
  font-size: 1rem
  text-align: center
  font-family: Verdana, Arial, sans-serif
  background-color: blue
  color: white
  text-align: center
  padding: 0
  margin: 0

h1
  font-size: 4rem
  text-transform: uppercase
  color: yellow
  text-shadow: red 5px 5px
  margin: 10rem 0 -2.5rem

label
  font-size: .75rem
  text-transform: uppercase

a, &:visited
  color: blue
  &:hover
    color: yellow
    background-color: red

button
  display: inline-block
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  margin: 10px 0
  padding: 0px
  border-width: 0
  background-color: Red
  color: White
  font-family: sans-serif
  font-weight: normal
  font-size: inherit
  text-decoration: none
  cursor: pointer
  font-size: 100%
  overflow: visible
  &::-moz-focus-inner
    border: 0
    padding: 0

.login-button, button
  color: red
  display: inline-block
  background-color: yellow
  color: #243743
  padding: 0 1rem
  margin: 1rem
  text-decoration: none
  font-weight: bold
  text-transform: uppercase
  line-height: 3
  box-shadow: red 5px 5px
  &:visited
    color: red
  &:hover
    color: yellow
    background-color: red
    box-shadow: yellow 5px 5px

.logged-in-bar
  color: blue
  line-height: 2rem
  vertical-align: middle
  position: fixed
  margin: 0
  width: 100%
  top: 0
  left: 0
  text-align: right
  background-color: yellow
  padding: 5px
  border-bottom: 5px solid red
  li
    list-style: none
    display: inline-block
    margin-right: 10px
    &:first-child
      float: left

.avatar
  vertical-align: bottom
  border: 2px solid white
  height: 30px
  width: 30px

.addNewImage
  background-color: white
  padding: 1rem 0
  color: red

.messaging
  float: left

.image-list
  padding: 0 1rem
  display: none
  list-style: none

.image-item
  display: inline-block
  magin: 1rem

.pf-image
  float: left
  border: 5px solid white
  margin: 0 10px
  height: 90px
  width: 90px

.set-image-kind
  list-style: none
  overflow: hidden
  width: 90px
  background-color: white
  margin: 0 10px
  text-align: left
  padding: 5px
  color: blue
  li:first-child
    float: left
  li:last-child
    float: right

.delete-image
  clear: both
  background-color: white
  padding: 5px
  margin: 0 10px 20px
  width: 90px