 @import 'axis'
 establish-baseline('normalize')

*
  box-sizing: border-box

body
  font-size: 1rem
  text-align: center
  font-family: Verdana, Arial, sans-serif
  background-color: red
  color: white
  padding: 0
  margin: 0

.main
  width: 800px
  margin: 0 auto

h1, h2
  font-size: 4rem
  text-transform: uppercase
  color: yellow
  text-shadow: orange 5px 5px
  margin: 5rem 0 1.5rem
  border-bottom: 5px solid white

h1
  border: none
  margin: 10rem 0 -2.75rem

.homepage-random-images
  z-index: -1
  overflow: hidden
  position: relative
  top: -10rem

.image-type-pass, .image-type-fail
  position: relative
  h3
    position: absolute
    top: 2rem
    left: 0
    width: 200px
    text-align: center
    padding: 0 0 0 1rem
    font-size: 2rem
    text-transform: uppercase
    letter-spacing: 1.5rem
    text-shadow:
      -1px -1px 0 #fff,
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
      1px 1px 0 #fff
  img
    width: 200px
    height: 200px
    margin: 0 !important

.image-type-pass
  float: left
  img
    border: .5rem solid green
  h3
    color: green

.image-type-fail
  float: right
  img
    border: .5rem solid red
  h3
    color: red

label
  display: block
  font-size: .75rem
  text-transform: uppercase

input
  margin: 0 1rem

a, &:visited
  color: black
  &:hover
    color: yellow
    background-color: orange

button
  display: inline-block
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  margin: 10px 0
  padding: 0
  border-width: 0
  background-color: orange
  font-family: sans-serif
  font-weight: normal
  font-size: inherit
  text-decoration: none
  cursor: pointer
  overflow: visible
  &::-moz-focus-inner
    border: 0
    padding: 0

.login-button, button
  color: orange
  display: inline-block
  background-color: yellow
  padding: 0 1rem
  margin: 1rem
  text-decoration: none
  font-weight: bold
  text-transform: uppercase
  line-height: 3
  box-shadow: orange 5px 5px
  &:visited
    color: orange
  &:hover
    color: yellow
    background-color: orange
    box-shadow: yellow 5px 5px

.logged-in-bar
  color: black
  line-height: 2rem
  vertical-align: middle
  position: fixed
  margin: 0
  width: 100%
  top: 0
  left: 0
  text-align: right
  background-color: yellow
  padding: 5px
  border-bottom: 5px solid orange
  li
    list-style: none
    display: inline-block
    margin-right: 10px
    &:first-child
      float: left

.avatar
  vertical-align: bottom
  border: 2px solid white
  height: 30px
  width: 30px

.addNewImage

.is-inline
  display: inline-block

.inline-list
  list-style: none
  li
    display: inline-block

.messaging
  padding: 1rem

.image-list
  padding: 0 1rem
  display: none
  list-style: none

.image-item
  display: inline-block
  margin: 1rem

.pf-image
  float: left
  border: 5px solid white
  margin: 0 10px
  height: 90px
  width: 90px

.set-image-kind
  list-style: none
  overflow: hidden
  width: 90px
  background-color: white
  margin: 0 10px
  text-align: left
  padding: 5px
  color: black
  li:first-child
    float: left
  li:last-child
    float: right

.delete-image
  clear: both
  background-color: white
  padding: 5px
  margin: 0 10px 20px
  width: 90px
