*
  box-sizing: border-box

body
  text-align: center
  font-family: Verdana, Arial, sans-serif
  background-color: blue
  color: white
  text-align: center
  padding: 2.5em

h1
  font-size: 5em
  color: yellow
  text-shadow: red 5px 5px

a, &:visited
  color: blue
  &:hover
    color: yellow
    background-color: red

.login-button
  color: red
  display: inline-block
  background-color: yellow
  color: #243743
  padding: 0 1em
  margin: 1em
  text-decoration: none
  font-weight: bold
  text-transform: uppercase
  line-height: 3
  box-shadow: red 5px 5px
  &:visited
    color: red
  &:hover
    color: yellow
    background-color: red
    box-shadow: yellow 5px 5px

.logged-in-bar
  color: blue
  line-height: 2em
  vertical-align: middle
  position: fixed
  margin: 0
  width: 100%
  top: 0
  left: 0
  text-align: right
  background-color: yellow
  padding: 5px
  border-bottom: 5px solid red
  li
    list-style: none
    display: inline-block
    margin-right: 10px

.avatar
  vertical-align: bottom
  border: 2px solid white
  height: 30px
  width: 30px