.inline-list
  list-style: none
  li, label
    display: inline-block

.align-right
  text-align: right !important

.align-left
  text-align: left !important

.inputAddOn
  display: flex

.inputAddOn-field
  margin: 0
  flex: 1

// .inputAddOn-item
