$flubr = #85d10d
$flubrText = #fff

$yellow = #dfe803
$yellowDark = #deca03

$bodyColor = #000
$bodyBgColor = #fff
$pass = #00FF48
$fail = #FF1919
$text = #000
$imageBg = #fff

$buttonBgColor = #999
$buttonTextColor = #fff

$borderColorOnLight = #999
$borderColorOnDark = #fff

// NAVIGATION
$navBgColorTop = #fafafa
$navBgColorBottom = #aaa
$navUserBgColor = #bbb
$navLinkBgColor = #efefef
$navLinkActiveColor = #fff
$navLinkActiveBgColor = #659E0A
$navLinkBorderColor = #fafafa