$flubr = #85d10d
$flubrDark = #659E0A
$flubrText = #fff

$yellow = #dfe803
$yellowDark = #deca03

$bodyColor = #333
$bodyBgColor = #fff
$pass = #00FF48
$fail = #FF1919
$text = #333
$imageBg = #fff

$buttonBgColor = #999
$buttonTextColor = #fff

$borderColorOnLight = #ccc
$borderColorOnDark = #fff

// NAVIGATION
$navBgColorTop = #fafafa
$navBgColorBottom = #aaa
$navUserColor = #fff
$navUserBgColor = $flubrDark
$navLinkBorderColor = #fafafa
$navLinkColor = #333
$navLinkBgColor = #efefef
$navLinkActiveColor = #333
$navLinkActiveBgColor = #fff
