// COLORS //
$yellow = #dfe803
$yellowDark = #deca03

$flubr =  #85d10d
// #3FE803

$bodyColor = white
$bgColorTop = #fafafa
$bgColorBottom = #aaa
$pass = #00FF48
$fail = #FF1919
$text = #000
$imageBg = #fff