extends application

block page

  form.add-new-image#js-add-image
    .inputAddOn
      .inputAddOn-item
        fieldset.pass-fail-toggle.switch-toggle
          legend Choose image kind:
          input#image-kind-pass(type='radio' name='kind' value='pass' checked='checked')
          label(for='image-kind-pass') Pass
          input#image-kind-fail(type='radio' name='kind' value='fail')
          label(for='image-kind-fail') Fail
          a
      input.inputAddOn-field(id='imageUrl', type='text', placeholder='Enter URL of image')
      button.inputAddOn-item(type='submit') Add Image
