extends application

block page

  form.add-new-image#js-add-image
    .inputAddOn
      .pass-fail-toggle.inputAddOn-item
        label
          | Pass:
          input(type='radio' name='kind' value='pass' checked='checked')
        label
          | Fail:
          input(type='radio' name='kind' value='fail')
      input.inputAddOn-field(id='imageUrl', type='text', placeholder='Enter URL of image')
      button.inputAddOn-item(type='submit') Add Image
