extends layout

block content
  ul.logged-in-bar
    li.messaging#messaging
    li
      img.avatar(src='#{user.avatar}')
    li
      =user.displayName
    li
      =user.userName
    li
      a(href='/logout') Sign out

  h1=title

  hr

  h2 Add new image:

    form#js-add-image
      label
        | Imgur Url:
        input#imageUrl(type='text')
      br
      label
        | Pass:
        input(type='radio' name='kind' value='pass')
      label
        | Fail:
        input(type='radio' name='kind' value='fail' checked='checked')
      br
      button(type='submit') Add

  hr

  h2 Images:

  button#js-show-images Show images

  ul.image-list#js-image-list