extends layout

block content
  ul.logged-in-bar
    li
      img.avatar(src='#{user.avatar}')
    li
      #{user.displayName} (#{user.userName})
    li
      a(href='/logout') Sign out

  h1=title

  hr

  h2 Add new image:

    form#js-add-image
      label
        | Url:
        input(type='text')
      br
      label
        | Pass:
        input(type='radio' name='kind' value='pass')
      label
        | Fail:
        input(type='radio' name='kind' value='fail' selected='selected')
      br
      button(type='submit') Add

  hr

  h2 Images:

  button#js-show-images Show images

  ul.image-list#js-image-list