extends layout

block head

  if env == 'production'
    link(rel='stylesheet', href='/stylesheets/styles.min.css')
  else
    link(rel='stylesheet', href='/stylesheets/styles.css')

block content

  .app-wrapper

    main.app-content(role='main')

      h1.page-title=title

      block page

    include partials/navigation

    include partials/messaging

block footer

  if env == 'production'
      script(async, src='/javascripts/scripts.min.js')
    else
      script(async, src='/javascripts/scripts.js')
