extends layout

block content

  main.app-homepage(role='main')

    h1.homepage-logo Flubr

    .homepage-login-button
      a(href='/login') Sign in with twitter

    .homepage-random-images

      .image-type-pass
        h3 Pass
        #random-pass-image

      .image-type-fail
        h3 Fail
        #random-fail-image
