extends layout

block content

  main.app-homepage(role='main')

    .homepage-mascot
      include images/flubr-mascot.svg

    //- .homepage-logo
    //-   include images/logo.svg

    .homepage-login-button
      a(href='/login') Sign in with twitter

    .homepage-random-images

      .image-type-pass
        h3 Pass
        #random-pass-image

      .image-type-fail
        h3 Fail
        #random-fail-image
