extends application

block page

  ul.image-list
    each image in imageList
      if image.kind == 'pass'
        - imageItemClass = 'image-item-pass'
      else
        - imageItemClass = 'image-item-fail'
      li(id='#{image.id}', class='image-item #{imageItemClass}')
        a(href='#{image.imageUrl}')
          img.image-thumbnail(src='#{image.thumbnailUrl}', alt='')
        ul.image-settings
          if image.kind == 'pass'
            li: strong pass
            li: a.change-image-kind(href='#', class='isPass') fail
          else
            li: a.change-image-kind(href='#', class='isFail') pass
            li: strong fail
          li: a.delete-image(href='#') delete
