extends application

block page

  if imageList.length > 0

    ul.image-cards
      each image in imageList
        if image.kind == 'pass'
          - imageItemClass = 'image-card-pass'
        else
          - imageItemClass = 'image-card-fail'
        li(id='#{image.id}', class='image-card #{imageItemClass}')
          a(href='#{image.imageUrl}')
            img.image-thumbnail(src='' data-src='#{image.thumbnailUrl}', alt='')
          if !deleted
            ul.image-settings
              if image.kind == 'pass'
                li: button(disabled='disabled').button-icon.is-pass: span.icon.icon-thumbs-up
                li: button.button-icon.js-delete-image: span.icon.icon-trash-o
                li: button.button-icon.is-fail.js-change-image-kind: span.icon.icon-thumbs-o-down
              if image.kind == 'fail'
                li: button.button-icon.is-pass.js-change-image-kind: span.icon.icon-thumbs-o-up
                li: button.button-icon.js-delete-image: span.icon.icon-trash-o
                li: button(disabled='disabled').button-icon.is-fail: span.icon.icon-thumbs-down

  else

    include partials/noImages
