extends layout

block content

  .main

    h1.homepage= title

    a.login-button(href='/login') Sign in with twitter

    .homepage-random-images

      .image-type-pass
        h3 Pass
        #random-pass-image

      .image-type-fail
        h3 Fail
        #random-fail-image
