doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    if env == 'production'
      link(rel='stylesheet', href='/stylesheets/styles.min.css')
    else
      link(rel='stylesheet', href='/stylesheets/styles.css')

  body
    block content
    if env == 'production'
      script(src='/javascripts/scripts.min.js')
    else
      script(src='/javascripts/scripts.js')