doctype
html
  head
    meta(charset='utf-8')
    title
      | Flubr -
      = ' ' + title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    if env == 'production'
      link(rel='stylesheet', href='/stylesheets/styles.min.css')
    else
      link(rel='stylesheet', href='/stylesheets/styles.css')

  body.app-body
    block content
    //- if env == 'production'
    //-   script(async, src='/javascripts/scripts.min.js')
    //- else
    //-   script(async, src='/javascripts/scripts.js')

  script.
    var getImage, image, images, _i, _len;

    getImage = function(image) {
      var xhr = new XMLHttpRequest();
      xhr.open('GET', "/api/images/random/" + image.kind);
      xhr.send(null);
      return xhr.onreadystatechange = function() {
        if (xhr.readyState === 4) {
          if (xhr.status === 200) {
            image.el.innerHTML = "<img src='" + xhr.responseText + "' />";
            return image.el.offsetParent.style.visibility = 'visible';
          }
        }
      };
    };

    images = [
      {
        kind: 'pass',
        el: document.getElementById('random-pass-image')
      }, {
        kind: 'fail',
        el: document.getElementById('random-fail-image')
      }
    ];

    for (_i = 0, _len = images.length; _i < _len; _i++) {
      image = images[_i];
      getImage(image);
    }
