nav.app-navigation(role='navigation')

  .logo
    | Flubr

  .logged-in-user
    img.avatar(src='#{user.avatar}')
    | #{user.displayName}
    small &nbsp;(#{user.userName})

  ul.navigation-links
    li
      a(href='/logout') Sign out