-var nav = { 'Add image': 'addImage', 'View images': 'viewImages', 'Manage users': 'users' };

nav.app-navigation(role='navigation')

  .logo
    | Flubr

  .logged-in-user
    img.avatar(src='#{user.avatar}')
    span(title=user.displayName)=user.userName

  ul.navigation-links
    each linkHref, linkTitle in nav
      if pageName === linkHref
        li
          a.active(href='/#{linkHref}', title=linkTitle)= linkTitle
      else
        li
          a(href=linkHref, title=linkTitle)= linkTitle
    li
      a(href='/logout') Sign out
