article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%;
  line-height: 1.5em;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
p,
pre {
  margin: 1.5em 0;
}
blockquote {
  margin: 1.5em 40px;
}
h1 {
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}
h3 {
  font-size: 1.17em;
  line-height: 1.282051282051282em;
  margin-top: 1.282051282051282em;
  margin-bottom: 1.282051282051282em;
}
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
h5 {
  font-size: 0.83em;
  line-height: 1.807228915662651em;
  margin-top: 1.807228915662651em;
  margin-bottom: 1.807228915662651em;
}
h6 {
  font-size: 0.67em;
  line-height: 2.238805970149254em;
  margin-top: 2.238805970149254em;
  margin-bottom: 2.238805970149254em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, serif;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1.5em 0;
  padding: 0 0 0 40px;
}
dl {
  padding: 0;
}
dd {
  margin: 0 0 0 40px;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border-color: #c0c0c0;
  margin: 0 2px;
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 1.4375em;
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: 1.4375em;
  border-left-style: solid;
  border-left-width: 0.0625em;
  padding-left: 1.4375em;
  border-right-style: solid;
  border-right-width: 0.0625em;
  padding-right: 1.4375em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button
:-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
  background-color: #0074d9;
  color: #fff;
  text-align: center;
  padding: 0;
  margin: 0;
}
.main {
  width: 800px;
  margin: 0 auto;
}
h1 {
  font-size: 4rem;
  text-transform: uppercase;
  color: #ffdc00;
  text-shadow: #ff851b 5px 5px;
  margin: 10rem 0 -2.5rem;
}
.homepage-random-images {
  z-index: -1;
  overflow: hidden;
  position: relative;
  top: -10rem;
}
.image-type-pass,
.image-type-fail {
  position: relative;
}
.image-type-pass h2,
.image-type-fail h2 {
  position: absolute;
  top: 2rem;
  left: 0;
  width: 200px;
  text-align: center;
  padding: 0 0 0 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
.image-type-pass img,
.image-type-fail img {
  width: 200px;
  height: 200px;
  margin: 0 !important;
}
.image-type-pass {
  float: left;
}
.image-type-pass img {
  border: 0.5rem solid #2ecc40;
}
.image-type-pass h2 {
  color: #2ecc40;
}
.image-type-fail {
  float: right;
}
.image-type-fail img {
  border: 0.5rem solid #d13f19;
}
.image-type-fail h2 {
  color: #d13f19;
}
label {
  display: block;
  font-size: 0.75rem;
  text-transform: uppercase;
}
input {
  margin-left: 1rem;
}
a,
:visited {
  color: #0074d9;
}
a:hover,
:visited:hover {
  color: #ffdc00;
  background-color: #ff851b;
}
button {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 10px 0;
  padding: 0px;
  border-width: 0;
  background-color: #ff851b;
  color: White;
  font-family: sans-serif;
  font-weight: normal;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
  font-size: 100%;
  overflow: visible;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.login-button,
button {
  color: #ff851b;
  display: inline-block;
  background-color: #ffdc00;
  color: #243743;
  padding: 0 1rem;
  margin: 1rem;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 3;
  box-shadow: #ff851b 5px 5px;
}
.login-button:visited,
button:visited {
  color: #ff851b;
}
.login-button:hover,
button:hover {
  color: #ffdc00;
  background-color: #ff851b;
  box-shadow: #ffdc00 5px 5px;
}
.logged-in-bar {
  color: #0074d9;
  line-height: 2rem;
  vertical-align: middle;
  position: fixed;
  margin: 0;
  width: 100%;
  top: 0;
  left: 0;
  text-align: right;
  background-color: #ffdc00;
  padding: 5px;
  border-bottom: 5px solid #ff851b;
}
.logged-in-bar li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}
.logged-in-bar li:first-child {
  float: left;
}
.avatar {
  vertical-align: bottom;
  border: 2px solid #fff;
  height: 30px;
  width: 30px;
}
.addNewImage {
  border: 0.5rem solid #fff;
  padding: 1rem 0;
  color: #fff;
}
.messaging {
  float: left;
}
.image-list {
  padding: 0 1rem;
  display: none;
  list-style: none;
}
.image-item {
  display: inline-block;
  magin: 1rem;
}
.pf-image {
  float: left;
  border: 5px solid #fff;
  margin: 0 10px;
  height: 90px;
  width: 90px;
}
.set-image-kind {
  list-style: none;
  overflow: hidden;
  width: 90px;
  background-color: #fff;
  margin: 0 10px;
  text-align: left;
  padding: 5px;
  color: #0074d9;
}
.set-image-kind li:first-child {
  float: left;
}
.set-image-kind li:last-child {
  float: right;
}
.delete-image {
  clear: both;
  background-color: #fff;
  padding: 5px;
  margin: 0 10px 20px;
  width: 90px;
}
