*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea,
a.button {
  color: inherit;
  font: inherit;
  margin: 0;
}
button,
select,
a.button {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
a.button {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
a.button {
  overflow: visible;
  text-transform: uppercase;
}
input {
  line-height: normal;
  width: 100%;
  padding: 0.25rem 0.5rem;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
legend {
  border: 0;
  padding: 0;
}
label {
  display: block;
  font-size: 1.25rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 767px) {
  label {
    font-size: 0.75rem;
  }
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.table {
  width: 100%;
}
.table th,
.table td {
  padding: 0.75rem 0.5rem;
  font-size: 14px;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}
.table th {
  font-weight: bold;
  text-align: left;
}
.table thead {
  background: #659e0a;
  color: #fafafa;
}
.table thead tr:last-child th {
  vertical-align: bottom;
}
.table thead tr:last-child th,
.table thead tr:last-child td {
  border-bottom: 1px solid $tableHeadBorderColor;
}
.table tbody tr:last-child td {
  border-bottom: 0;
}
.table tfoot th,
.table tfoot td {
  border-top: 1px solid $tableHeadBorderColor;
}
.table .table {
  background: #ccc;
}
.table.table-striped tbody tr:nth-child(even) {
  background: #f5f5f5;
}
.table.table-striped tbody tr:nth-child(odd) {
  background: #fafafa;
}
.table.table-striped td {
  border-bottom: 1px solid #fff;
}
.table.table-bordered {
  border: 1px #ccc solid;
  border-left: 0;
}
.table.table-bordered td,
.table.table-bordered th {
  border-left: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
}
.nav-inset-shadow-left,
.app-navigation,
.navigation-logo,
.navigation-user {
  -webkit-box-shadow: inset -5px -5px 15px rgba(51,51,51,0.15);
  box-shadow: inset -5px -5px 15px rgba(51,51,51,0.15);
}
.nav-inset-shadow-right,
.app-messaging {
  -webkit-box-shadow: inset 5px -5px 15px rgba(51,51,51,0.15);
  box-shadow: inset 5px -5px 15px rgba(51,51,51,0.15);
}
.nav-active-drop-shadow,
.navigation-links .active a {
  -webkit-box-shadow: 5px 5px 15px rgba(51,51,51,0.15);
  box-shadow: 5px 5px 15px rgba(51,51,51,0.15);
}
.hidden {
  display: none;
}
.inline-list {
  list-style: none;
}
.inline-list li,
.inline-list label {
  display: inline-block;
}
.align-right {
  text-align: right !important;
}
.align-left {
  text-align: left !important;
}
.flash-notice a,
.flash-error a,
.flash-warning a,
.flash-success a {
  color: #fff;
}
.switch-toggle {
  height: 2rem;
  position: relative;
  background: #333;
}
.switch-toggle label {
  color: #fff;
  line-height: 2rem;
  vertical-align: middle;
}
.switch-toggle a {
  display: block;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 1;
  width: 50%;
  height: 100%;
  background: #deca03;
  -webkit-box-shadow: inset rgba(255,255,255,0.2) 0 1px 0, inset rgba(0,0,0,0.3) 0 -1px 0;
  box-shadow: inset rgba(255,255,255,0.2) 0 1px 0, inset rgba(0,0,0,0.3) 0 -1px 0;
}
.switch-toggle input {
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.switch-toggle input + label {
  position: relative;
  z-index: 2;
  float: left;
  width: 50%;
  height: 100%;
  margin: 0;
  text-align: center;
}
.switch-toggle input:last-of-type:checked ~ a {
  left: 50%;
}
.switch-toggle input:focus + label {
  outline: 1px dotted #888;
}
.app-body,
.app-homepage {
  min-height: 100vh;
  width: 100%;
}
.app-body,
.app-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.app-messaging {
  display: none;
}
.app-navigation {
  -webkit-box-ordinal-group: -1;
  -moz-box-ordinal-group: -1;
  -o-box-ordinal-group: -1;
  -ms-flex-order: -1;
  -webkit-order: -1;
  order: -1;
}
@media only screen and (min-width: 767px) {
  .app-wrapper {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .app-content {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .app-navigation {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 16rem;
    -ms-flex: 0 0 16rem;
    flex: 0 0 16rem;
  }
  .app-messaging {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 0 0 16rem;
    -ms-flex: 0 0 16rem;
    flex: 0 0 16rem;
  }
  .app-messaging {
    display: block;
  }
}
.inputAddOn {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
}
@media only screen and (min-width: 767px) {
  .inputAddOn {
    display: -ms-flexbox;
    display: box;
    display: flex;
  }
}
@media only screen and (min-width: 767px) {
  .inputAddOn-field {
    margin: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}
.app-navigation {
  background: #d3d3d3;
}
.navigation-logo {
  line-height: 2;
  background: #85d10d;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
}
@media only screen and (min-width: 767px) {
  .navigation-logo {
    line-height: 10rem;
    height: 10rem;
  }
}
.navigation-user {
  background: #333;
  color: #fff;
  padding: 1rem;
}
.navigation-user .avatar {
  margin-right: 1rem;
}
.navigation-links {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation-links a,
.navigation-links:visited {
  color: #333;
  padding: 1rem;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  border-bottom: 0.1rem solid #fafafa;
}
.navigation-links a:hover,
.navigation-links:visited:hover {
  color: #fff;
  background: #deca03;
}
.navigation-links .active {
  overflow: hidden;
  margin-bottom: -15px;
  padding: 0 0 15px 0;
}
.navigation-links .active a {
  display: block;
}
.navigation-links .active a,
.navigation-links .active a:hover {
  background: #f8f8f8;
  color: #333;
  cursor: default;
}
.hide-messaging .app-messaging {
  display: none;
}
.app-messaging {
  background: #d3d3d3;
  padding: 1rem;
}
.app-messaging ul {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
  list-style: none;
}
.app-messaging li {
  margin: 0 0 1rem;
}
.app-body {
  background: #f8f8f8;
  color: #333;
  font-family: Verdana, Arial, sans-serif;
}
.app-content {
  padding: 2rem;
}
.page-title {
  line-height: 1;
  font-size: 2.5rem;
  margin: 0 0 2rem;
  text-transform: capitalize;
}
.avatar {
  vertical-align: bottom;
  border: 2px solid #fff;
  height: 30px;
  width: 30px;
}
.add-new-image button {
  display: none;
}
.pass-fail-toggle {
  overflow: hidden;
}
.pass-fail-toggle legend {
  display: none;
}
@media only screen and (min-width: 767px) {
  .pass-fail-toggle {
    width: 10rem;
  }
}
.add-new-user {
  margin: 0 0 2rem;
}
@media only screen and (min-width: 767px) {
  .add-new-user button {
    display: none;
  }
}
.user-table .avatar {
  border: 2px solid #ccc;
}
.col-avatar {
  width: 1%;
}
.col-name {
  width: 25%;
}
.col-username {
  width: 14%;
}
.col-dateAdded {
  width: 35%;
}
.col-deleteUser {
  width: 25%;
}
.button-delete {
  background: #f00;
}
.image-cards {
  padding: 0;
  margin: 0 -2rem 0 0;
  list-style: none;
}
.image-card {
  background: #fff;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
  outline: 1px solid #ccc;
  margin: 0 2rem 2rem 0;
  overflow: hidden;
}
.image-card a {
  display: inline-block;
  vertical-align: top;
}
.image-card-pass {
  border-bottom: 0.5rem solid #2ecc40;
}
.image-card-fail {
  border-bottom: 0.5rem solid #ff4136;
}
.image-thumbnail {
  float: left;
  border: 0.5rem solid #fff;
  height: 100px;
  width: 100px;
}
.image-settings {
  width: 100px;
  border: 0.5rem solid #fff;
  margin: 0;
  display: inline-block;
  list-style: none;
  overflow: hidden;
  text-align: left;
}
.image-settings li {
  text-align: right;
  margin: 0 0 1rem;
}
.image-settings li:last-child {
  margin: 0;
}
.change-image-kind,
.delete-image {
  clear: both;
}
.app-homepage {
  text-align: center;
  position: relative;
  background: #aaa -webkit-linear-gradient(to(scale-point) bottom, #fafafa, #aaa) repeat-x;
  background: #aaa -moz-linear-gradient(to(scale-point) bottom, #fafafa, #aaa) repeat-x;
  background: #aaa -o-linear-gradient(to(scale-point) bottom, #fafafa, #aaa) repeat-x;
  background: #aaa -ms-linear-gradient(to(scale-point) bottom, #fafafa, #aaa) repeat-x;
  background: #aaa linear-gradient(to(scale-point) bottom, #fafafa, #aaa) repeat-x;
}
.homepage-logo {
  color: #85d10d;
  text-shadow: #659e0a 0.25rem 0.25rem;
  font-size: 4.5rem;
  margin: 0 1rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 767px) {
  .homepage-logo {
    font-size: 12rem;
  }
}
.homepage-login-button a {
  background: #4099ff;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  display: block;
  width: 15.299999999999999rem;
  margin: 0.25rem auto;
}
@media only screen and (min-width: 767px) {
  .homepage-login-button a {
    font-size: 0.8rem;
    display: inline-block;
    width: auto;
  }
}
.homepage-random-images {
  overflow: hidden;
}
@media only screen and (min-width: 767px) {
  .homepage-random-images {
    text-align: center;
    margin: 1rem 0 0;
  }
}
.image-type-pass,
.image-type-fail {
  width: 13.5rem;
  height: 9rem;
}
.image-type-pass img,
.image-type-fail img {
  width: 13.5rem;
  height: 9rem;
}
@media only screen and (min-width: 767px) {
  .image-type-pass,
  .image-type-fail {
    width: 18rem;
    height: 12rem;
  }
  .image-type-pass img,
  .image-type-fail img {
    width: 18rem;
    height: 12rem;
  }
}
.image-type-pass,
.image-type-fail {
  border: 1px solid #999;
  margin: 1rem auto 0;
  position: relative;
  overflow: hidden;
}
.image-type-pass h3,
.image-type-fail h3 {
  margin: 0 0 0 0.4rem;
  opacity: 0.65;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=65);
  position: absolute;
  z-index: 1;
  top: 3rem;
  left: 0.25rem;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
@media only screen and (min-width: 767px) {
  .image-type-pass,
  .image-type-fail {
    display: inline-block;
    margin: 1.5rem;
  }
  .image-type-pass h3,
  .image-type-fail h3 {
    font-size: 3.5rem;
    top: 3.6rem;
  }
}
.image-type-pass h3 {
  color: #2ecc40;
}
.image-type-fail h3 {
  color: #ff4136;
}
